# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.Rproj.user/
*_files/

# Keep published site assets in docs/
!docs/**/
!docs/**/*_files/
!docs/**/*_files/**

# Python
__pycache__/
*.pyc

# OS junk
.DS_Store
Thumbs.db

pdbs/

/.quarto/
**/*.quarto_ipynb
